/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dalmolingroup/euryale -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '4.h'

    genome     = "GRCh38"

    // Input data
    input    = "$projectDir/test_data/samplesheet.csv"
    kaiju_db = "https://github.com/nf-core/test-datasets/raw/taxprofiler/data/database/kaiju/kaiju.tar.gz"
    host_fasta = "$projectDir/test_data/GCA_002596845.1_ASM259684v1_genomic.fna.gz"
    id_mapping  = "$projectDir/test_data/idmapping_selected.tab.example.gz"
    reference_fasta = "$projectDir/test_data/protein.faa.gz"

    // Annotation params
    minimum_bitscore           = 30
    minimum_pident             = 30
    minimum_alen               = 30
    maximum_evalue             = 0.01
}
